jupyter
pandas
shapely
openpyxl
matplotlib
requests
scipy
seaborn
beautifulsoup4
statsmodels
openrouteservice
folium
scikit-learn
numpy
opencv-python
nltk
wordcloud
tensorflow
open3d
flask
flask_wtf
joblib
dash
geopandas
streamlit
openai-key: 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